<section id="quem-somos">
        <div class="sobreposicao text-center p-5 text-dark">
            <h2 class="display-4 text-info pt-5">Quem Somos?</h2>
            <hr class="bg-info">
            <p class="lead text-dark col-lg-6 offset-lg-3 p-5">Somos uma empresa de tecnologia com ênfase em programação de computadores e desenvolvimento de software. Conheça nossos <a href="produtos" class="text-info">produtos</a>.</p>
        </div>
</section>
