<!DOCTYPE html>
<html>

<head>
    <title>Softwares personalizados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM
    <link href="/public/style/bootstrap.css"rel="stylesheet">
    <script src="script.js"></script>
    +OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    -->
    <link href="/public/style/style.css"rel="stylesheet">
</head>

<body>
        <div class="jumbotron jumbotron-fluid">
            <div class="row py-4">
                
                <div class="col-12 col-lg-6">
                    <img src="/public/img/programming-g5c8240fc6_1920.jpg" class="img-fluid img-responsive" alt="responsive image">
                </div>

                <div class="col-12 col-lg-6">
                    <h1 class="display-5">Torne sua <strong class="text-info">rotina</strong> mais ágil!</h1>
                    <p class="lead">Com nossos softwares personalizados para suas necessidades.</p> 
                    <hr class="my-4">
                    <p class="text-muted" class="text-sm-left">Conheça nossos produtos voltados para cada necessidade de sua empresa e escolha o que mais se adequa à sua realidade.</p>
                    <a class="btn btn-info btn-lg" href="produtos" role="button">Conheça nossos produtos</a>
                </div>
            </div>
        </div>
  
   

<!--
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/public/js/bootstrap.js"></script>
-->
</body>

</html>